.hlx/*
coverage/*
logs/*
node_modules/*

helix-importer-ui
.DS_Store
*.bak
.idea

# Ensure these files are tracked
!CLAUDE.md
!AGENTS.md

# Project-specific ignores
### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store